<html>
    <head>
        <title>Rebarbory blog</title>
    </head>
    <body>
        <div>
            <h1>Django Girls - kurz programování</h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2>Můj první příspěvek</h2>
            <p>Tady jen píšu, abych věděla, jak se to chová a <strong>bla bla bla, naprosto nedůležitý nemysly</strong></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2>Můj druhý příspěvek</h2>
            <p>Tohle jsou další nesmysly, vůbec mě nenapadá,co bych tu tak měla psát. Takže tu najdete:</p>
            <ul><li>Nesmysly</li><li>Blabla</li><li>Nic důležitého</li></ul>
        </div>
    </body>
</html>
